anonymous
apache
cgi-bin
contrib
FileZillaFTP

img
install
licenses
locale
mailoutput
mailtodisk
MercuryMail
mysql/backup
mysql/bin
mysql/scripts
mysql/share
mysql/COPYING
mysql/CREDITS
mysql/EXCEPTIONS-CLIENT
mysql/mysql_installservice.bat
mysql/mysql_uninstallservice.bat
mysql/resetroot.bat
mysql/THIRDPARTY
mysql/data/mysql
mysql/data/performance_schema
mysql/data/test
mysql/data/aria_log_control
mysql/data/aria_log.00000001
mysql/data/ib_buffer_pool
mysql/data/ib_logfile0
mysql/data/ib_logfile1
mysql/data/ibdata1
mysql/data/ibtmp1
mysql/data/multi-master.info
mysql/data/my.ini
mysql/data/mysql_error.log
mysql/data/mysql.pid

perl
php
phpMyAdmin
sendmail
src
tmp
tomcat
webalizer
webdav

apache_start.bat
apache_stop.bat
catalina_service.bat
catalina_start.bat
catalina_stop.bat
ctlscript.bat
filezilla_setup.bat
filezilla_start.bat
filezilla_stop.bat
killprocess.bat
mercury_start.bat
mercury_stop.bat
mysql_start.bat
mysql_stop.bat
passwords.txt
properties.ini
readme_de.txt
readme_en.txt
service.exe
setup_xampp.bat
test_php.bat
uninstall.dat
uninstall.exe
xampp_shell.bat
xampp_start.exe
xampp_stop.exe
xampp-control.exe
xampp-control.ini
xampp-control.log
